@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  font-family: "Inter", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #080809;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

.container-header {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.container-header.ch-mod {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-header .head-tab {
  display: flex;
  align-items: center;
}
.container-header .content {
  width: 100%;
  max-width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-header .content .left {
  display: flex;
  align-items: center;
}
.container-header .lang-drop {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
}
.container-header .lang-drop.active .lang-drop-items {
  transform: scale(1);
  opacity: 1;
  pointer-events: visible;
}
.container-header .lang-drop a {
  padding: 8px 6px;
  background: #080809;
}
.container-header .lang-drop-items {
  display: flex;
  flex-direction: column;
  background: #080809;
  padding: 8px 6px;
  position: absolute;
  top: 100%;
  z-index: 2;
  width: 100%;
  transition: 0.3s;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  max-height: 150px;
  overflow: hidden;
  overflow-y: auto;
}
.container-header .lang-drop-items span {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FBFAFA;
  display: flex;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
}
.container-header .lang-drop a {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FBFAFA;
  display: flex;
  align-items: center;
}
.container-header .lang-drop a img {
  margin-left: 4px;
}
.container-header .lang-drop ::-webkit-scrollbar {
  width: 3px;
  /* ширина scrollbar */
}
.container-header .lang-drop ::-webkit-scrollbar-track {
  background: transparent;
  /* цвет дорожки */
}
.container-header .lang-drop ::-webkit-scrollbar-thumb {
  background-color: #292929;
  /* цвет плашки */
  border-radius: 20px;
  /* закругления плашки */
}

.container {
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
  padding: 0 10px;
}

.cursor-bg-dot {
  opacity: 0;
  pointer-events: none;
}

.cursor-bg {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  z-index: 1000000;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.progress_bar {
  position: fixed;
  z-index: 10000000;
  right: 0;
  top: 0;
  height: 0;
  width: 5px;
  background: #fff;
}

.animation_add {
  opacity: 0 !important;
  position: relative !important;
  top: 100px !important;
  transition: 0.3s;
}

.fadeInUpCustom {
  opacity: 1 !important;
  position: relative !important;
  top: 0 !important;
  transition: 0.6s ease-out;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 30px;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  cursor: pointer;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  border-radius: 100px;
  color: #000000;
  transition: 0.3s;
  position: relative;
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: #FBFAFA;
  border-radius: 100px;
  transition: 0.3s;
}
.btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  border-radius: 100px;
  transition: 0.3s;
}
.btn:hover::before {
  background: linear-gradient(#3e22f2, #0faaa1, #23ccf1, #17a8f5);
}
.btn:hover::after {
  width: 98%;
  height: 94%;
  left: 1%;
  top: 3%;
}
.btn img {
  margin-right: 14px;
}

.btn-menu {
  color: #FBFAFA;
  border: 1.5px solid #343434;
  background: #080809;
  border-radius: 21px;
  flex-direction: column;
  position: relative;
  z-index: 50;
  max-height: 100%;
  transition: 0.3s;
  cursor: unset;
  padding: 10.5px 22px !important;
}
.btn-menu.active .btn-menu-vis {
  display: flex;
}
.btn-menu:hover {
  background: #080809 !important;
}
.btn-menu::before {
  display: none;
}
.btn-menu::after {
  display: none;
}
.btn-menu span {
  display: flex;
  cursor: pointer;
}
.btn-menu .btn-menu-vis {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
}
.btn-menu .btn-menu-vis a {
  width: 100%;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #B4B4B4;
}

.btn-js-view {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 0.3s;
}
.btn-js-view.active {
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
}

.header {
  width: 100%;
  padding: 60px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transition: 0.3s;
}
.header.not-hid {
  overflow: visible;
}
.header.not-hid .lang-drop {
  display: none !important;
}
.header.active {
  padding: 30px 0;
  background: #080809;
}
.header.active .btn-js-view {
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
}
.header .container-header, .header .container {
  display: flex;
  align-items: center;
}
.header .container-header .btn, .header .container .btn {
  margin-left: 25px;
  padding: 14px 22px;
  font-size: 12px;
  line-height: 15px;
}
.header .container-header .btn img, .header .container .btn img {
  width: 20px;
}

.section {
  width: 100%;
  padding-top: 150px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}
.section .img-pic {
  width: 100%;
  max-width: 660px;
  height: 100%;
  max-height: 660px;
  position: absolute;
  right: 15%;
  top: -5%;
  z-index: -1;
  animation: rotats 120s linear infinite;
}

.section-block {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 40px 0;
}
.section-block span {
  display: block;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FBFAFA;
}
.section-block p {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;
  margin-bottom: 50px;
  color: #B4B4B4;
}
.section-block p img {
  margin-right: 20px;
  width: 35px;
  height: 38px;
}
.section-block .btn {
  margin-bottom: 90px;
}

.section-row-item {
  width: 100%;
  display: flex;
}
.section-row-item.ml50 {
  margin-left: 90px;
}
.section-row-item .item {
  margin-right: 71px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.section-row-item .item span {
  display: block;
  margin-right: 20px;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FBFAFA;
}
.section-row-item .item p {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #B4B4B4;
}

.application {
  margin: 100px 0;
  padding: 30px 0;
  overflow: hidden;
  margin-bottom: 30px;
}

.application-block-img {
  display: flex;
  align-items: center;
}
.application-block-img .img {
  margin-left: -250px;
  animation: rotats 120s linear infinite;
}
.application-block-img .text-row {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}
.application-block-img .text-row-item {
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
}
.application-block-img .text-row-item:nth-child(1) {
  margin-left: -200px;
}
.application-block-img .text-row-item:nth-child(3) {
  margin-left: -100px;
}
.application-block-img .text-row-item span {
  display: block;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FBFAFA;
}
.application-block-img .text-row-item p {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #B4B4B4;
  width: 100%;
}
.application-block-img .text-row-item p img {
  margin-right: 20px;
  width: 40px;
}

.portfolio {
  width: 100%;
  padding: 100px 0;
  padding-top: 0;
  overflow: hidden;
}

.portfolio-text {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FBFAFA;
  margin-top: 100px;
}

.marquee_content-wrap {
  width: 100%;
  display: flex;
  animation: wrap 200s linear infinite;
}

.portfolio-slider {
  width: 100%;
  margin-top: 100px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.portfolio-slider .swiper-container .swiper-wrapper .swiper-slide {
  max-width: 540px !important;
  min-width: 540px !important;
}
.portfolio-slider .item {
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  width: 100%;
  max-width: 540px;
  min-width: 540px;
  min-height: 370px;
  max-height: 370px;
  height: 100%;
  border-radius: 15px;
  margin-right: 30px;
  background: #FFFFFF;
  border: 2px solid #E2E2E2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-slider .item img {
  width: 80%;
}

.marquee__content {
  width: 100%;
  display: flex;
}

.list-inline {
  display: flex;
  justify-content: space-around;
  width: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-inline li {
  width: 100%;
  height: 100%;
  max-width: 540px;
  min-width: 540px;
  min-height: 370px;
  max-height: 370px;
  margin: 0 15px;
}
.list-inline li a {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-right: 30px;
  background: #FFFFFF;
  border: 2px solid #E2E2E2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-inline li a img {
  width: 80%;
}

.swiper-container {
  width: 100%;
}
.gambling {
  padding: 100px 0;
  width: 100%;
  position: relative;
  min-height: 900px;
  overflow: hidden;
}
.gambling .img-pic {
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 520px;
  position: absolute;
  right: 15%;
  top: 5%;
  z-index: -1;
  object-fit: contain;
  animation: rotats 120s linear infinite;
}

.gambling-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.gambling-title a {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.gambling-title a img:first-child {
  width: 33px;
  margin-right: 15px;
}
.gambling-title-link {
  display: flex;
  align-items: center;
}
.gambling-title-link span, .gambling-title-link a, .gambling-title-link .swiper-pagination-bullet {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  margin-right: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  cursor: pointer;
  color: #FBFAFA;
  position: relative !important;
  background: transparent;
}
.gambling-title-link span.active::after, .gambling-title-link a.active::after, .gambling-title-link .swiper-pagination-bullet.active::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -39.5%;
  background: #FBFAFA;
  animation: linewidth 5s linear;
}
@keyframes linewidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.gambling-title-link span::before, .gambling-title-link a::before, .gambling-title-link .swiper-pagination-bullet::before {
  content: "";
  width: 100% !important;
  height: 1px !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -40% !important;
  background: #B4B4B4 !important;
}
.gambling-title-link span:last-child, .gambling-title-link a:last-child, .gambling-title-link .swiper-pagination-bullet:last-child {
  margin: 0;
}

.gambling-subtitle {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #b4b4b4;
}

.gambling-block {
  opacity: 0;
  position: absolute;
}
.gambling-block.active {
  opacity: 1;
  pointer-events: visible;
  position: relative;
  transition: 0.6s;
}

.gambling-price {
  display: flex;
  width: 100%;
  align-items: stretch;
  margin-bottom: 60px;
}
.gambling-price-item {
  width: 100%;
  max-width: 255px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-right: 25px;
  background: #FBFAFA;
  border: 2px solid #E2E2E2;
  border-radius: 15px;
}
.gambling-price-item span {
  display: block;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #080809;
}
.gambling-price-item span small {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #B4B4B4;
}
.gambling-price-item p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.03em;
  /* Black */
  color: #080809;
}

.gambling-list {
  width: 100%;
}
.gambling-list ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.gambling-list ul li {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #FBFAFA;
}
.gambling-list ul li img {
  margin-right: 20px;
}

.swiper-container-gambling {
  width: 100%;
  overflow: hidden;
}

.swiper-container-blockchain {
  width: 100%;
  overflow: hidden;
}

.blockchain {
  padding: 0px 0;
  width: 100%;
  min-height: 700px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.blockchain .container {
  width: 100%;
  display: flex;
  align-items: center;
}

.blockchain-content {
  margin-left: 100px;
  min-height: 500px;
  width: 100%;
}

.blockchain-img {
  margin-left: -300px;
  animation: rotats 120s linear infinite;
}

.blockchain-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.blockchain-title a {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.blockchain-title a img:first-child {
  width: 33px;
  margin-right: 15px;
}
.blockchain-title-link {
  display: flex;
  align-items: center;
}
.blockchain-title-link span, .blockchain-title-link .swiper-pagination-bullet {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  margin-right: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  cursor: pointer;
  color: #FBFAFA;
  position: relative !important;
  background: transparent;
}
.blockchain-title-link span.swiper-pagination-bullet-active::after, .blockchain-title-link .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -39.5%;
  background: #FBFAFA;
  animation: linewidth 3s linear;
}
@keyframes linewidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.blockchain-title-link span::before, .blockchain-title-link .swiper-pagination-bullet::before {
  content: "";
  width: 100% !important;
  height: 1px !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -40% !important;
  background: #B4B4B4 !important;
}
.blockchain-title-link span:last-child, .blockchain-title-link .swiper-pagination-bullet:last-child {
  margin: 0;
}

.blockchain-list {
  width: 100%;
}
.blockchain-list ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blockchain-list ul li {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #FBFAFA;
}
.blockchain-list ul li img {
  margin-right: 20px;
}

.blog {
  padding: 100px 0;
  width: 100%;
  overflow: hidden;
}

.blog-title {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 65px;
  color: #FBFAFA;
}
.blog-title img {
  margin-right: 20px;
  width: 31px;
}

.blog-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.blog-row-item {
  width: 100%;
  max-width: 445px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.blog-row-item .img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
}
.blog-row-item .img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) -72.64%, #080808 100%);
  border: 1px solid #343434;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
}
.blog-row-item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-row-item span {
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  display: block;
  color: #FBFAFA;
  position: absolute;
  padding: 30px;
}

.faq {
  width: 100%;
  padding: 100px 0;
  overflow: hidden;
}

.faq-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.faq-block-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.faq-block-row.active .faq-block-row-title img {
  transform: rotate(45deg);
}
.faq-block-row.active .faq-block-row-content {
  font-size: 20px;
  opacity: 1;
  position: relative;
  bottom: unset;
  pointer-events: visible;
}
.faq-block-row-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.faq-block-row-title span {
  display: block;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FBFAFA;
}
.faq-block-row-title img {
  transition: 0.3s;
}
.faq-block-row-content {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: -50px;
  font-size: 0;
  color: #B4B4B4;
  transition: 0.3s;
}

.section404 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.section404::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../img/i404.svg") center right no-repeat;
  background-size: contain;
}
.section404 .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section404 .container span {
  display: block;
  font-weight: 900;
  font-size: 100px;
  line-height: 121px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FBFAFA;
}
.section404 .container p {
  margin-bottom: 60px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #B4B4B4;
}

.blog-post {
  width: 100%;
  min-height: 100vh;
  padding-top: 170px;
  overflow: hidden;
}

.blog-post-back {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  cursor: pointer;
  color: #FBFAFA;
  display: flex;
  align-items: center;
}
.blog-post-back img {
  margin-right: 7px;
}

.blog-post-preview {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 490px;
  margin: 25px 0 50px 0;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.blog-post-preview::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) -72.64%, #080808 100%);
  border: 1px solid #343434;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
}
.blog-post-preview img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: -2;
}
.blog-post-preview .text {
  width: 60%;
  padding: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}
.blog-post-preview .text span {
  display: block;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FBFAFA;
}
.blog-post-preview .text p {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #B4B4B4;
}
.blog-post-preview .text .date {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: #FBFAFA;
}

.blog-post-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.blog-post-content p {
  font-weight: 500;
  font-size: 17px;
  line-height: 200%;
  margin-bottom: 30px;
  text-align: justify;
  color: #FFFFFF;
}
.blog-post-content a {
  font-weight: 500;
  font-size: 17px;
  line-height: 200%;
  color: #23ccf1;
  text-align: justify;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.blog-post-content .checks {
  width: 100%;
  margin-bottom: 30px;
}
.blog-post-content .checks.active .checks-title img {
  transform: rotate(180deg);
}
.blog-post-content .checks.active .checks-content {
  display: block;
}
.blog-post-content .checks-title {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 200%;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s;
}
.blog-post-content .checks-title img {
  margin-right: 15px;
  transition: 0.3s;
}
.blog-post-content .checks-content {
  padding: 25px 0 25px 75px;
  color: #FFFFFF;
  display: none;
}
.blog-post-content ul {
  width: 100%;
  list-style: none;
}
.blog-post-content ul li {
  position: relative;
  margin-left: 30px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 17px;
  line-height: 200%;
  color: #FFFFFF;
}
.blog-post-content ul li:last-child {
  margin-bottom: 0;
}
.blog-post-content ul li::before {
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  left: -30px;
  top: 15px;
  border-radius: 50%;
  background: #fff;
}
.blog-post-content .pborder {
  padding: 30px 40px;
  background: #080809;
  border: 1px solid #343434;
  box-sizing: border-box;
  border-radius: 15px;
}
.blog-post-content .img-s {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
}
.blog-post-content .img-s img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-blog-slider {
  width: 100%;
  max-height: 100vh;
  padding-top: 140px;
  overflow: hidden;
}
.section-blog-slider .container-header {
  display: flex;
  justify-content: flex-end;
}

.blog-slider-preview {
  width: 100%;
  min-width: 540px;
  max-width: 540px;
  height: 100%;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.blog-slider-preview .row-item-tabs {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-slider-preview .row-item-tabs .items {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.blog-slider-preview .row-item-tabs .items a {
  margin-right: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #B4B4B4;
}
.blog-slider-preview .row-item-tabs .items a.active {
  color: #FBFAFA;
}
.blog-slider-preview .row-item-tabs .lang-drop {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
}
.blog-slider-preview .row-item-tabs .lang-drop.active .lang-drop-items {
  transform: scale(1);
  opacity: 1;
  pointer-events: visible;
}
.blog-slider-preview .row-item-tabs .lang-drop a {
  padding: 8px 6px;
  background: #080809;
}
.blog-slider-preview .row-item-tabs .lang-drop-items {
  display: flex;
  flex-direction: column;
  background: #080809;
  padding: 8px 6px;
  position: absolute;
  top: 100%;
  z-index: 2;
  width: 100%;
  transition: 0.3s;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  max-height: 150px;
  overflow: hidden;
  overflow-y: auto;
}
.blog-slider-preview .row-item-tabs .lang-drop-items span {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FBFAFA;
  display: flex;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
}
.blog-slider-preview .row-item-tabs .lang-drop a {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FBFAFA;
  display: flex;
  align-items: center;
}
.blog-slider-preview .row-item-tabs .lang-drop a img {
  margin-left: 4px;
}
.blog-slider-preview .row-item-tabs .lang-drop ::-webkit-scrollbar {
  width: 3px;
  /* ширина scrollbar */
}
.blog-slider-preview .row-item-tabs .lang-drop ::-webkit-scrollbar-track {
  background: transparent;
  /* цвет дорожки */
}
.blog-slider-preview .row-item-tabs .lang-drop ::-webkit-scrollbar-thumb {
  background-color: #292929;
  /* цвет плашки */
  border-radius: 20px;
  /* закругления плашки */
}
.blog-slider-preview .blog-row-item {
  width: 100%;
  max-width: 540px;
  height: calc(100vh - 235px);
  position: relative;
}
.blog-slider-preview .blog-row-item .img {
  width: 100%;
  position: absolute;
  border-radius: 15px;
  overflow: hidden;
  z-index: -1;
}
.blog-slider-preview .blog-row-item .img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) -72.64%, #080808 100%);
  border: 1px solid #343434;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
}
.blog-slider-preview .blog-row-item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-slider-preview .blog-row-item .text {
  width: 100%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blog-slider-preview .blog-row-item .text span {
  display: block;
  margin-bottom: 15px;
  padding: 0;
  position: relative;
}
.blog-slider-preview .blog-row-item .text p {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #B4B4B4;
}
.blog-slider-preview .blog-row-item .text .date {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: #FBFAFA;
}

.blog-slider-preview-items {
  width: calc(100% - 570px);
  max-height: 100vh !important;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 30px;
  position: relative;
}
.blog-slider-preview-items .swiper-container-blog-vertical {
  width: 100%;
  max-height: calc(100vh - 150px) !important;
  min-height: calc(100vh - 150px) !important;
  overflow: visible;
  position: relative;
  padding-bottom: 150px;
  margin-bottom: 25px;
}
.blog-slider-preview-items .swiper-container-blog-vertical::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(transparent 85%, #000 90%);
  pointer-events: none;
}
.blog-slider-preview-items .swiper-container-blog-vertical .swiper-wrapper {
  padding-bottom: 50px;
}
.blog-slider-preview-items .swiper-container-blog-vertical .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.blog-slider-preview-items .btn {
  position: absolute;
  bottom: 45px;
  width: 100%;
}

.blog-slider-preview-items-item {
  width: 100%;
  max-width: 255px;
  max-height: 500px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.blog-slider-preview-items-item .img {
  width: 100%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  min-height: 180px;
  max-height: 180px;
  z-index: -1;
}
.blog-slider-preview-items-item .img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) -72.64%, #080808 100%);
  border: 1px solid #343434;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
}
.blog-slider-preview-items-item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-slider-preview-items-item .img .date {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: #FBFAFA;
}
.blog-slider-preview-items-item span {
  display: block;
  width: 100%;
  margin-top: 15px;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FBFAFA;
}

.block-mobiles {
  display: none;
}

.footer {
  min-height: 236px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.footer.fot-non-blog {
  display: none;
}
.footer .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.footer .container a, .footer .container .add {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #B4B4B4;
}

.swiper-container-vertical > .swiper-scrollbar {
  width: 0 !important;
}

.modal-form-quiz {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.modal-form-quiz.active {
  opacity: 1;
  pointer-events: visible;
}
.modal-form-quiz.active .modal-form-quiz-content {
  transform: scale(1);
}
.modal-form-quiz-bg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  background: #080809;
  opacity: 0.5;
}
.modal-form-quiz-content {
  width: 100%;
  max-width: 624px;
  padding: 40px;
  position: relative;
  z-index: 1001;
  background: #080809;
  border: 1px solid #343434;
  box-sizing: border-box;
  border-radius: 15px;
  transform: scale(0);
  transition: 0.3s;
}
.modal-form-quiz-content .items {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
.modal-form-quiz-content .items.active {
  display: flex;
}
.modal-form-quiz-content .items-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}
.modal-form-quiz-content .items-title span {
  display: block;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FBFAFA;
}
.modal-form-quiz-content .items-title a {
  margin-top: 5px;
  cursor: pointer;
}
.modal-form-quiz-content .items .type-row {
  width: 100%;
  display: flex;
  align-items: center;
}
.modal-form-quiz-content .items .type-row-check {
  position: relative;
  width: auto;
  margin-right: 15px;
}
.modal-form-quiz-content .items .type-row-check:last-child {
  margin-right: 0;
}
.modal-form-quiz-content .items .type-row-check input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
}
.modal-form-quiz-content .items .type-row-check input:checked ~ .type-row-check-text {
  border: 1px solid #FBFAFA;
}
.modal-form-quiz-content .items .type-row-check-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #FBFAFA;
  padding: 13px 20px;
  border: 1px solid #343434;
  border-radius: 69.6864px;
  cursor: pointer;
}
.modal-form-quiz-content .items .type-textarea {
  width: 100%;
  border-bottom: 1px solid #343434;
  padding: 10px 10px 20px 10px;
}
.modal-form-quiz-content .items .type-textarea textarea {
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.005em;
  color: #FBFAFA;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
}
.modal-form-quiz-content .items .type-input-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-form-quiz-content .items .type-input {
  width: 100%;
  border-bottom: 1px solid #343434;
  padding: 10px;
  margin: 0 7px;
}
.modal-form-quiz-content .items .type-input:last-child {
  margin-right: 0;
}
.modal-form-quiz-content .items .type-input input {
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.005em;
  color: #B4B4B4;
  border: none;
  background: transparent;
}
.modal-form-quiz-content .items .bt-row {
  display: flex;
  align-items: center;
}
.modal-form-quiz-content .items .bt-row .btn {
  margin-right: 10px;
}
.modal-form-quiz-content .items .bt-row .btn.btn-black {
  color: #fff;
  background: #080809;
  border: none;
}
.modal-form-quiz-content .items .bt-row .btn.btn-black::after {
  opacity: 0;
}
.modal-form-quiz-content .items .row-all-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.modal-form-quiz-content .items .text-error {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  display: none;
  color: #FF4141;
}
.modal-form-quiz-content .items .text-error.active {
  display: block;
}
.modal-form-quiz-content .items .btn {
  font-size: 12px;
  line-height: 15px;
  padding: 13px 20px;
}
.modal-form-quiz-content .items .btn.btn-return-js {
  margin-top: 0;
}

@keyframes wrap {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes rotats {
  0% {
    transform: rotate(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@media (max-width: 1500px) {
  .marquee__content {
    width: 650%;
  }
}
@media (max-width: 1150px) {
  .container, .container-header {
    padding: 0 30px;
  }

  .blog-slider-preview-items-item {
    margin: 0 10px;
    max-height: 450px;
  }
  .blog-slider-preview-items-item .img {
    min-height: 150px;
    max-height: 150px;
  }
  .blog-slider-preview-items-item span {
    font-size: 12px;
  }
}
@media (max-width: 980px) {
  .modal-form-quiz {
    padding: 15px;
  }
  .modal-form-quiz-content {
    padding: 30px 20px;
  }
  .modal-form-quiz-content .items-title {
    margin-bottom: 40px;
  }
  .modal-form-quiz-content .items-title span {
    width: 90%;
    font-size: 20px;
    line-height: 24px;
  }
  .modal-form-quiz-content .items .type-row {
    flex-wrap: wrap;
  }
  .modal-form-quiz-content .items .type-row-check {
    margin-bottom: 15px;
  }
  .removed-btn .container-header .content {
    display: flex;
    justify-content: space-between !important;
  }
  .removed-btn .container-header .content .left .btn {
    display: none !important;
  }
  .removed-btn .container-header .content .lang-drop {
    display: flex;
  }
  .removed-btn .container-header .logo {
    margin-top: 10px;
  }

  .cursor-bg {
    opacity: 0 !important;
  }

  .container-header {
    padding: 0 15px;
  }

  .container {
    padding: 0 15px;
  }

  .btn {
    padding: 11px 17px;
    font-size: 13px;
    line-height: 16px;
  }
  .btn img {
    margin-right: 5px;
    width: 20px;
  }

  .btn-menu {
    margin-left: 30px !important;
    padding: 10px 22px !important;
  }

  .header {
    padding: 30px 0;
    margin-top: 0px;
    z-index: 1000;
  }
  .header.not-hid .lang-drop {
    display: flex !important;
  }
  .header.active {
    padding: 20px 0;
  }
  .header .container-header .content {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .header .container-header .logo {
    width: 80px;
  }
  .header .container-header .logo img {
    width: 100%;
  }
  .header .container-header .btn {
    padding: 11px 15px;
  }

  .section {
    margin-top: 0px;
    padding-top: 70px;
  }
  .section .img-pic {
    max-width: 403px;
    min-height: 403px;
    right: -40%;
    top: -25%;
  }
  .section .img-pic img {
    width: 100%;
    height: 100%;
  }

  .section-block span {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }
  .section-block p {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 40px;
  }
  .section-block p img {
    width: 23px;
    height: 25px;
  }
  .section-block .btn {
    margin-bottom: 70px;
  }

  .section-row-item {
    justify-content: space-between;
  }
  .section-row-item.ml50 {
    margin-left: 0;
  }
  .section-row-item .item {
    margin-right: 0;
    margin-bottom: 45px;
    margin-left: 20px;
  }
  .section-row-item .item:first-child {
    margin-left: 0;
  }
  .section-row-item .item span {
    margin-right: 10px;
    font-size: 23px;
    line-height: 28px;
  }
  .section-row-item .item p {
    font-size: 12px;
    line-height: 15px;
  }

  .application {
    margin: 50px 0;
    margin-bottom: 0;
  }

  .application-block-img {
    position: relative;
  }
  .application-block-img .img {
    z-index: -1;
    position: absolute;
    margin-left: 0;
    right: -60%;
    width: 90%;
    margin-top: -100px;
  }
  .application-block-img .img img {
    width: 100%;
  }
  .application-block-img .text-row {
    margin-left: 0;
    margin-bottom: 0;
  }
  .application-block-img .text-row-item {
    margin-bottom: 80px;
    margin-left: 0 !important;
  }
  .application-block-img .text-row-item span {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 13px;
  }
  .application-block-img .text-row-item p {
    font-size: 13px;
    line-height: 16px;
  }
  .application-block-img .text-row-item p img {
    width: 27px;
  }

  .portfolio {
    padding: 50px 0;
  }

  .portfolio-text {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
  }

  .portfolio-slider {
    margin-top: 70px;
  }
  .portfolio-slider .swiper-container .swiper-wrapper .swiper-slide {
    max-width: unset !important;
    min-width: unset !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolio-slider .item {
    min-width: 300px;
    max-width: 300px;
    min-height: 200px;
    margin-right: 0;
    max-height: 200px;
  }

  .marquee__content {
    width: 1400%;
    display: flex;
  }

  .list-inline li {
    width: 100%;
    height: 100%;
    min-width: 300px;
    max-width: 300px;
    min-height: 200px;
    max-height: 200px;
    margin: 0 8px;
  }
  .list-inline li a {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #FFFFFF;
  }

  .gambling {
    padding: 50px 0;
    min-height: auto;
    overflow: hidden;
  }
  .gambling .img-pic {
    right: -30%;
    top: -10%;
  }
  .gambling .img-pic img {
    width: 100%;
    height: 100%;
  }

  .gambling-title {
    margin-bottom: 0px;
    flex-wrap: wrap;
  }
  .gambling-title a {
    margin-right: 25px;
    margin-bottom: 20px;
  }
  .gambling-title a img {
    width: 120px;
  }
  .gambling-title a img:first-child {
    width: 22px;
  }
  .gambling-title-link {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .gambling-title-link span, .gambling-title-link a, .gambling-title-link .swiper-pagination-bullet {
    width: unset !important;
    font-size: 12px;
    line-height: 16px;
    margin-right: 20px;
  }
  .gambling-title-link span:last-child, .gambling-title-link a:last-child, .gambling-title-link .swiper-pagination-bullet:last-child {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .gambling-subtitle {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 35px;
  }

  .gambling-price {
    margin-bottom: 50px;
  }
  .gambling-price-item {
    width: 50%;
    max-width: 50%;
    padding: 20px 0;
  }
  .gambling-price-item:last-child {
    margin-right: 0 !important;
  }
  .gambling-price-item span {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 11px;
  }
  .gambling-price-item span small {
    font-size: 12px;
    line-height: 15px;
    margin-right: 3px;
  }
  .gambling-price-item p {
    font-size: 12px;
    line-height: 15px;
  }

  .gambling-list ul {
    justify-content: space-between;
    align-items: stretch;
  }
  .gambling-list ul li {
    width: 47%;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
    letter-spacing: 0;
  }
  .gambling-list ul li img {
    width: 20px;
  }

  .blockchain {
    padding: 50px 0;
    overflow: hidden;
    min-height: auto;
  }
  .blockchain::before {
    right: -15%;
  }

  .blockchain-title {
    margin-bottom: 0px;
    flex-wrap: wrap;
  }
  .blockchain-title a {
    margin-right: 25px;
    margin-bottom: 20px;
  }
  .blockchain-title a img {
    width: 150px;
  }
  .blockchain-title a img:first-child {
    width: 22px;
  }
  .blockchain-title-link {
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .blockchain-title-link span, .blockchain-title-link .swiper-pagination-bullet {
    width: unset !important;
    font-size: 13px;
    line-height: 16px;
    margin-right: 20px;
  }

  .blockchain-img {
    margin-left: 0;
    position: absolute;
    right: -40%;
    width: 100%;
    max-width: 220px;
    max-height: 220px;
  }
  .blockchain-img img {
    width: 100%;
    height: 100%;
  }

  .blockchain-content {
    margin-left: 0;
    min-height: 100%;
  }

  .blockchain-list ul {
    align-items: stretch;
  }
  .blockchain-list ul li {
    width: 50%;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 20px;
    letter-spacing: 0;
  }
  .blockchain-list ul li img {
    width: 20px;
  }

  .blog {
    padding: 50px 0;
    overflow: hidden;
  }

  .blog-title {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 24px;
  }
  .blog-title img {
    width: 20px;
  }

  .blog-row {
    flex-wrap: wrap;
  }
  .blog-row-item {
    margin-bottom: 20px;
    max-width: 100%;
  }
  .blog-row-item span {
    padding: 20px;
    font-size: 18px;
    line-height: 22px;
  }

  .faq {
    padding: 50px 0;
    overflow: hidden;
  }

  .faq-block-row {
    margin-bottom: 30px;
  }
  .faq-block-row-title {
    margin-bottom: 20px;
  }
  .faq-block-row-title span {
    font-size: 20px;
    line-height: 24px;
  }
  .faq-block-row-content {
    font-size: 13px;
    line-height: 16px;
  }
  .faq-block-row-content p {
    font-size: 13px;
    line-height: 16px;
  }

  .blog-post {
    min-height: 100%;
    padding-top: 150px;
  }

  .blog-post-preview {
    min-height: 350px;
  }
  .blog-post-preview .text {
    width: 100%;
    padding: 15px;
  }
  .blog-post-preview .text span {
    font-size: 20px;
    line-height: 140%;
  }
  .blog-post-preview .text p {
    font-size: 13px;
    line-height: 140%;
  }
  .blog-post-preview .text .date {
    font-size: 10px;
  }

  .blog-post-content p {
    font-size: 15px;
    line-height: 150%;
  }
  .blog-post-content a {
    font-size: 15px;
    line-height: 150%;
  }
  .blog-post-content .pborder {
    padding: 15px 20px;
  }
  .blog-post-content .checks {
    margin-bottom: 15px;
  }
  .blog-post-content .checks-title {
    font-size: 15px;
    line-height: 150%;
  }
  .blog-post-content .checks-content {
    padding: 10px 0 10px 25px;
  }
  .blog-post-content ul li {
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 10px;
  }
  .blog-post-content ul li::before {
    top: 7px;
  }

  .section404 {
    overflow: hidden;
  }
  .section404::before {
    width: 200%;
    height: 200%;
    right: -75%;
    top: -50%;
    z-index: -1;
    background-size: 100% 100%;
  }
  .section404 .container {
    align-items: center;
    text-align: center;
  }
  .section404 .container p {
    font-size: 14px;
    line-height: 17px;
  }

  .section-blog-slider {
    min-height: 100%;
    max-height: unset;
    padding-top: 110px;
    overflow: unset;
  }
  .section-blog-slider .container-header {
    flex-direction: column;
  }

  .blog-slider-preview {
    display: flex;
    min-width: 100%;
    max-width: 100%;
  }
  .blog-slider-preview .row-item-tabs {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .blog-slider-preview .row-item-tabs .items {
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
  }
  .blog-slider-preview .row-item-tabs .items a {
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #B4B4B4;
  }
  .blog-slider-preview .row-item-tabs .items a.active {
    color: #FBFAFA;
  }
  .blog-slider-preview .row-item-tabs .lang-drop {
    display: none;
  }
  .blog-slider-preview .blog-row-item {
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 350px;
    max-height: 350px;
  }
  .blog-slider-preview .blog-row-item .text {
    margin: 15px;
  }
  .blog-slider-preview .blog-row-item .text p {
    font-size: 12px;
    line-height: 15px;
  }
  .blog-slider-preview .blog-row-item .text .date {
    font-size: 11px;
    line-height: 13px;
  }

  .blog-slider-preview-items {
    width: 100% !important;
    max-height: 100% !important;
    margin-left: 0;
    overflow: hidden !important;
  }
  .blog-slider-preview-items .swiper-container-blog-vertical {
    max-height: 250px !important;
    display: none !important;
    overflow: visible;
  }
  .blog-slider-preview-items .btn {
    position: relative;
    bottom: unset;
    margin: 0 !important;
  }

  .block-mobiles {
    display: flex !important;
    flex-direction: column;
    margin-top: 30px;
  }

  .blog-slider-preview-items-item {
    max-width: 100%;
    margin: 0;
    margin-bottom: 50px;
  }
  .blog-slider-preview-items-item span {
    font-size: 18px;
    line-height: 22px;
  }
  .blog-slider-preview-items-item .img {
    min-height: 150px;
    min-height: 150px;
  }

  .footer {
    min-height: auto;
    margin: 30px 0;
  }
  .footer.fot-non-blog {
    display: flex;
  }
  .footer .container {
    flex-wrap: wrap;
  }
  .footer .container a {
    width: 50%;
    margin-bottom: 35px;
  }
  .footer .container .add {
    margin-bottom: 35px;
    width: 100%;
  }
}