
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none; 
    -webkit-appearance: none;
    font-family: 'Inter', sans-serif;
}
a {
    color: #000;
    text-decoration: none;
}

html,
body {
  position: relative;
  height: 100%;

}

body {
    background: #080809;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    width: 0;
}

.container-header {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    &.ch-mod {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .head-tab {
        display: flex;
        align-items: center;
    }
    .content {
        width: 100%;
        max-width: 540px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            display: flex;
            align-items: center;
        }
      
    }
    .lang-drop {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
        
        &.active {
            .lang-drop-items {
                transform: scale(1);
                opacity: 1;
                pointer-events: visible;
            }
        }
        a {
            padding: 8px 6px;
            background: #080809;
        }
        &-items {
            display: flex;
            flex-direction: column;
            background: #080809;
            padding: 8px 6px;
            position: absolute;
            top: 100%;
            z-index: 2;
            width: 100%;

            transition: 0.3s;
            transform: scale(0);
            opacity: 0;
            pointer-events: none;
            max-height: 150px;
            overflow: hidden;
            overflow-y: auto;
            span {
                display: block;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: -0.01em;
                text-transform: uppercase;
                color: #FBFAFA;
                display: flex;
                align-items: center;
                margin: 5px 0;
                cursor: pointer;
            }
        }
        a {
            display: block;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: #FBFAFA;
            display: flex;
            align-items: center;
            img {
                margin-left: 4px;
            }
        }
        ::-webkit-scrollbar {
            width: 3px;               /* ширина scrollbar */
        }
        ::-webkit-scrollbar-track {
            background: transparent;        /* цвет дорожки */
        }
        ::-webkit-scrollbar-thumb {
            background-color: rgb(41, 41, 41);    /* цвет плашки */
            border-radius: 20px;       /* закругления плашки */
        
        }
    }

}
.container {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding: 0 10px;

}

.cursor-bg-dot {
    opacity: 0;
    pointer-events: none;
}
.cursor-bg {
  
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    z-index: 1000000;
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.progress_bar {
    position: fixed;
    z-index: 10000000;
    right: 0;
    top: 0;
    height: 0;
    width: 5px;
    background: #fff;
}

.animation_add {
    opacity: 0 !important;
    position: relative !important;
    top: 100px !important;
    transition: 0.3s;
}
.fadeInUpCustom {
    opacity: 1 !important;
    position: relative !important;
    top: 0 !important;
    transition: 0.6s ease-out;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 30px;
    font-weight: bold;
    font-size: 17px;
 
    line-height: 21px;
    cursor: pointer;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    border-radius: 100px;
    color: #000000;
    transition: 0.3s;
    position: relative;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background: #FBFAFA;
        border-radius: 100px;
        transition: 0.3s;
       
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -2;
        border-radius: 100px;
        transition: 0.3s;
    }
    &:hover::before {
        background: linear-gradient(rgba(62, 34, 242, 1) , rgba(15, 170, 161, 1), rgba(35, 204, 241, 1), rgba(23, 168, 245, 1));

    }
    &:hover::after {
        width: 98%;
        height: 94%;
        left: 1%;
        top: 3%;    
    }
    img {
        margin-right: 14px;

    }
}
.btn-menu {
    color: #FBFAFA;
    border: 1.5px solid #343434;
    background: #080809;
    border-radius: 21px;
    flex-direction: column;
    position: relative;
    z-index: 50;
    max-height: 100%;
    transition: 0.3s;
    cursor: unset;
    padding: 10.5px 22px !important;
    &.active {
     
        .btn-menu-vis {
            display: flex;  
        }
       
    }
    &:hover {
        background: #080809 !important;
    }
    &::before {
        display: none;
    }
    &::after {
        display: none;
    }
    span {
        display: flex;
        cursor: pointer;
    }
    .btn-menu-vis {
        width: 100%;
        height: 100%;
        margin-top: 15px;
        display: none;
        
        flex-direction: column;
        align-items: flex-end;
        
      
        a {
            width: 100%;
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-align: right;
            letter-spacing: 0.005em;
            text-transform: uppercase;

            color: #B4B4B4;
        }
    }
}
.btn-js-view {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 0.3s;
    &.active {
        opacity: 1;
        pointer-events: visible;
        visibility: visible;
    }

}

.header {
    width: 100%;
    padding: 60px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    transition: 0.3s;
    &.not-hid {
        overflow: visible;
        .lang-drop {
            display: none !important;
        }
    }
    &.active {
        padding: 30px 0;
        background: #080809;
        .btn-js-view {
            opacity: 1;
            pointer-events: visible;
            visibility: visible;
        }
    }
    .container-header, .container {
        display: flex;
        align-items: center;
        
        .btn {
            margin-left: 25px;
            padding: 14px 22px;
            font-size: 12px;
            line-height: 15px;
            img {
                width: 20px;
            }
        }
    }
}

.section {
    width: 100%;
    padding-top: 150px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    .img-pic {
        width: 100%;
        max-width: 660px;
        height: 100%;
        max-height: 660px;
        position: absolute;
        right: 15%;
        top: -5%;
        z-index: -1;
        animation: rotats 120s linear infinite;
    }
}


.section-block {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 40px 0;
    span {
        display: block;
        margin-bottom: 30px;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.01em;
        text-transform: uppercase;

        color: #FBFAFA;
    }
    p {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -0.03em;
        margin-bottom: 50px;
        color: #B4B4B4;
        img {
            margin-right: 20px;
            width: 35px;
            height: 38px;
        }
    }
    .btn {
        margin-bottom: 90px;
    }
}
.section-row-item {
    width: 100%;
    display: flex;
    &.ml50 {
        margin-left: 90px;
    }
    .item {
        margin-right: 71px;
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        span {
            display: block;
            margin-right: 20px;
            font-weight: bold;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -0.01em;
            text-transform: uppercase;

            color: #FBFAFA;
        }
        p {
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.03em;

            color: #B4B4B4;
        }
    }
}

.application {
    margin: 100px 0;
    padding: 30px 0;
    overflow: hidden;
    margin-bottom: 30px;
}
.application-block-img {
    display: flex;
    align-items: center;
    .img {
        margin-left: -250px;
        animation: rotats 120s linear infinite;
    }
    .text-row {
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        &-item {
            margin-bottom: 120px;
            display: flex;
            flex-direction: column;
            &:nth-child(1) {
                margin-left: -200px;
            }
            &:nth-child(3) {
                margin-left: -100px;
            }
            span {
                display: block;
                margin-bottom: 20px;
                font-weight: 900;
                font-size: 30px;
                line-height: 36px;
                letter-spacing: -0.01em;
                text-transform: uppercase;

                color: #FBFAFA;
            }
            p {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -0.03em;
                color: #B4B4B4;
                width: 100%;
        

                img {
                    margin-right: 20px;
                    width: 40px;
                }
            }
        }
    }
}


.portfolio {
    width: 100%;
    padding: 100px 0;
    padding-top: 0;
    overflow: hidden;
}
.portfolio-text {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFAFA;
    margin-top: 100px;
}
.marquee_content-wrap {
    width: 100%;
 
    display: flex;
    animation: wrap 200s linear infinite;
}
.portfolio-slider {
    width: 100%;
    margin-top: 100px;

    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
   .swiper-container {
       .swiper-wrapper {
           .swiper-slide {
            max-width: 540px !important;
            min-width: 540px !important;
           }
       }
   }

    .item {
        width: 100%;

        padding: 20px 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: hidden;
        width: 100%;
        max-width: 540px;
        min-width: 540px;
        min-height: 370px;
        max-height: 370px;
        height: 100%;
        border-radius: 15px;
        margin-right: 30px;
        background: #FFFFFF;
        border: 2px solid #E2E2E2;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 80%;

        }
    }
}
.marquee__content {
    width: 100%;
    display: flex;
    
}

.list-inline {
    display: flex;
    justify-content: space-around;
    width: auto;
    list-style: none;
    padding: 0;

    margin: 0;
    
    &:last-child {
        
    }
    li {
        width: 100%;
        height: 100%;
        max-width: 540px;
        min-width: 540px;
        min-height: 370px;
        max-height: 370px;
        margin: 0 15px;
        a {
            width: 100%;
           
            height: 100%;
            border-radius: 15px;
            margin-right: 30px;
            background: #FFFFFF;
            border: 2px solid #E2E2E2;
            display: flex;
            justify-content: center;
            align-items: center;
        
            img {
                width: 80%;
              
            }
        }
    }
}

.swiper-container {
    width: 100%;
    .swiper-wrapper {

    }

}

.gambling {
    padding: 100px 0;
    width: 100%;
    position: relative;
    min-height: 900px;
    overflow: hidden;
    .img-pic {
        width: 100%;
        max-width: 450px;
        height: 100%;
        max-height: 520px;
        position: absolute;
        right: 15%;
        top: 5%;
        z-index: -1;
        object-fit: contain;
        animation: rotats 120s linear infinite;
    }
}
.gambling-title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    a {
        margin-right: 50px;
        display: flex;
        align-items: center;
        img {
            &:first-child {
                width: 33px;
                margin-right: 15px;
            }
        }
    }
    &-link {
        display: flex;
        align-items: center;
        span, a, .swiper-pagination-bullet {
            display: block !important;
            width: 100% !important;
            height: 100% !important;
            margin-right: 50px;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.03em;
            cursor: pointer;
            color: #FBFAFA;
            position: relative !important;
            background: transparent;
            &.active {
                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: -39.5%;
                    background:#FBFAFA;
                    animation: linewidth 5s linear;
                }
            }
            @keyframes linewidth {
                0% {
                    width: 0;
                }
                100% {
                    width: 100%;
                }
            }
            &::before {
                content: "";
                width: 100% !important;
                height: 1px !important;
                position: absolute !important;
                left: 0 !important;
                bottom: -40% !important;
                background: #B4B4B4 !important;
            }
            &:last-child {
                margin: 0;
            }
        }
    }
}
.gambling-subtitle {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: rgba(180, 180, 180, 1);
}
.gambling-block {
    opacity: 0;
 
    position: absolute;

    &.active {
        opacity: 1;
        pointer-events: visible;
        position: relative;
        transition: .6s;
        
    }
}
.gambling-price {
    display: flex;
    width: 100%;
    align-items: stretch;
    margin-bottom: 60px;
    &-item {
        width: 100%;
        max-width: 255px;
        padding: 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin-right: 25px;
        background: #FBFAFA;

        border: 2px solid #E2E2E2;

        border-radius: 15px;
        span {
            display: block;
            margin-bottom: 20px;
            font-weight: 900;
            font-size: 35px;
            line-height: 42px;
            letter-spacing: -0.01em;
            text-transform: uppercase;

            color: #080809;
            small {
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -0.01em;
                text-transform: capitalize;
                color: #B4B4B4;
            }
        }
        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            letter-spacing: -0.03em;
            
            /* Black */
            
            color: #080809;
        }
    }
}
.gambling-list {
    width: 100%;
    ul {
        width: 100%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li {
            width: 45%;
            display: flex;
            align-items: center;
            margin-bottom: 60px;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: #FBFAFA;
            img {
                margin-right: 20px;
            }
        }
    }
}
.swiper-container-gambling {
    width: 100%;
    overflow: hidden;
}
.swiper-container-blockchain {
    width: 100%;
    overflow: hidden;
}

.blockchain {
    padding: 0px 0;
    width: 100%;
    min-height: 700px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: stretch;
    .container {
        width: 100%;
        display: flex;
        align-items: center;
    }
}
.blockchain-content {
    margin-left: 100px;
    min-height: 500px;
    width: 100%;
}
.blockchain-img {
    margin-left: -300px;
    animation: rotats 120s linear infinite;
}
.blockchain-title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    a {
        margin-right: 50px;
        display: flex;
        align-items: center;
        img {
            &:first-child {
                width: 33px;
                margin-right: 15px;
            }
        }
    }
    &-link {
        display: flex;
        align-items: center;
        span, .swiper-pagination-bullet {
            display: block !important;
            width: 100% !important;
            height: 100% !important;
            margin-right: 50px;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.03em;
            cursor: pointer;
            color: #FBFAFA;
            position: relative !important;
            background: transparent;
            &.swiper-pagination-bullet-active {
                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: -39.5%;
                    background:#FBFAFA;
                    animation: linewidth 3s linear;
                }
            }
            @keyframes linewidth {
                0% {
                    width: 0;
                }
                100% {
                    width: 100%;
                }
            }
            &::before {
                content: "";
                width: 100% !important;
                height: 1px !important;
                position: absolute !important;
                left: 0 !important;
                bottom: -40% !important;
                background: #B4B4B4 !important;
            }
            &:last-child {
                margin: 0;
            }
        }
    }
}
.blockchain-list {
    width: 100%;
    ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            width: 45%;
            display: flex;
            align-items: center;
            margin-bottom: 50px;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: #FBFAFA;
            img {
                margin-right: 20px;
            }
        }
    }
}

.blog {
    padding: 100px 0;
    width: 100%;
    overflow: hidden;

}
.blog-title {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 65px;
    color: #FBFAFA;
    img {
        margin-right: 20px;
        width: 31px;
    }
}
.blog-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    &-item {
        width: 100%;
        max-width: 445px;
        display: flex;
        align-items: flex-end;
        position: relative;
        .img {
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 15px;
            overflow: hidden;
            display: flex;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;

                background: linear-gradient(180deg, rgba(8, 8, 8, 0) -72.64%, #080808 100%);
                border: 1px solid #343434;
                box-sizing: border-box;
                border-radius: 15px;
                overflow: hidden;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        span {
            font-weight: 900;
            font-size: 25px;
            line-height: 30px;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            display: block;
            color: #FBFAFA;
            position: absolute;
            padding: 30px;
        }
    }
}

.faq {
    width: 100%;
    padding: 100px 0;
    overflow: hidden;
}
.faq-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    &-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        &.active {
            .faq-block-row-title {
                img {
                    transform: rotate(45deg);
                }
            }
            .faq-block-row-content {
              
                font-size: 20px;
                opacity: 1;
                position: relative;
                bottom: unset;
                pointer-events: visible;
            }
        }
        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 25px;
            cursor: pointer;
            transition: 0.3s;
            span {
                display: block;
                font-weight: 900;
                font-size: 30px;
                line-height: 36px;
                letter-spacing: -0.01em;
                text-transform: uppercase;

                color: #FBFAFA;
            }
            img {
                transition: 0.3s;
            }
        }
        &-content {
            font-weight: 500;
            
            line-height: 24px;
            letter-spacing: -0.03em;
            display: block;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            bottom: -50px;
            font-size: 0;

            color: #B4B4B4;
            transition: 0.3s;
        }
    }
}

.section404 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: url("../img/i404.svg") center right no-repeat ;
        background-size: contain;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span {
            display: block;
            font-weight: 900;
            font-size: 100px;
            line-height: 121px;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: #FBFAFA;
        }
        p {
            margin-bottom: 60px;
            margin-top: 10px;
            font-weight: 500;
            font-size: 25px;
            line-height: 30px;
            letter-spacing: -0.03em;
            color: #B4B4B4;
        }
    }
}

.blog-post {
    width: 100%;
    min-height: 100vh;
    padding-top: 170px;
    overflow: hidden;
}
.blog-post-back {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    cursor: pointer;
    color: #FBFAFA;
    display: flex;
    align-items: center;
    img {
        margin-right: 7px;

    }
}
.blog-post-preview {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 490px;
    margin: 25px 0 50px 0;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background: linear-gradient(180deg, rgba(8, 8, 8, 0) -72.64%, #080808 100%);
        border: 1px solid #343434;
        box-sizing: border-box;
        border-radius: 15px;
        overflow: hidden;
    }
    img {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        left: 0;
        top: 0;
        z-index: -2;
    }
    .text {
        width: 60%;
        padding: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        span {
            display: block;
            margin-bottom: 15px;
            font-weight: 900;
            font-size: 30px;
            line-height: 36px;
            letter-spacing: -0.01em;
            text-transform: uppercase;

            color: #FBFAFA;
        }
        p {
            margin-bottom: 15px;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.01em;

            color: #B4B4B4;
        }
        .date {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;

            letter-spacing: -0.01em;

            color: #FBFAFA;
        }
    }

}
.blog-post-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    p {
        font-weight: 500;
        font-size: 17px;
        line-height: 200%;
        margin-bottom: 30px;
        text-align: justify;
        
        color: #FFFFFF;
        
    }
    a {
        font-weight: 500;
        font-size: 17px;
        line-height: 200%;
        color: rgba(35, 204, 241, 1);
        text-align: justify;
        text-decoration-line: underline;
    }
    .checks {
        width: 100%;
        margin-bottom: 30px;
        &.active {
            .checks-title {
                img {
                    transform: rotate(180deg);
                }
            }
            .checks-content {
                display: block;
            }
        }
        &-title {
            width: 100%;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 17px;
            line-height: 200%;
            color: #FFFFFF;
            cursor: pointer;
            transition: 0.3s;
            img {
                margin-right: 15px;
                transition: 0.3s;
            }
        }
        &-content {
            padding: 25px 0 25px 75px;
            color: #FFFFFF;
            display: none;
        }
    }
    ul {
        width: 100%;
        list-style: none;
        li {
            position: relative;
            margin-left: 30px;
            margin-bottom: 15px;
            font-weight: 500;
            font-size: 17px;
            line-height: 200%;
            color: #FFFFFF;
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: "";
                width: 9px;
                height: 9px;
                position: absolute;
                left: -30px;
                top: 15px;
                border-radius: 50%;
                background: #fff;
                
            }
        }
    }
    .pborder {
        padding: 30px 40px;
        background: #080809;

        border: 1px solid #343434;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .img-s{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 30px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.section-blog-slider {
    width: 100%;
    max-height: 100vh;
    padding-top: 140px;
    overflow: hidden;
    .container-header {
        display: flex;
        justify-content: flex-end;
        
    }
}
.blog-slider-preview {
    width: 100%;
    min-width: 540px;
    max-width: 540px;
    height: 100%;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .row-item-tabs {
        margin-bottom: 20px;
        
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .items {
            width: 80%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 15px;
            a {
                margin-right: 15px;
                margin-bottom: 15px;
              
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;

                display: flex;
                align-items: center;
                letter-spacing: 0.005em;
                text-transform: uppercase; 
                color: #B4B4B4;
                &.active {
                    color: #FBFAFA;
                }
            }
        }
        .lang-drop {
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: flex-start;
            
            &.active {
                .lang-drop-items {
                    transform: scale(1);
                    opacity: 1;
                    pointer-events: visible;
                }
            }
            a {
                padding: 8px 6px;
                background: #080809;
            }
            &-items {
                display: flex;
                flex-direction: column;
                background: #080809;
                padding: 8px 6px;
                position: absolute;
                top: 100%;
                z-index: 2;
                width: 100%;
    
                transition: 0.3s;
                transform: scale(0);
                opacity: 0;
                pointer-events: none;
                max-height: 150px;
                overflow: hidden;
                overflow-y: auto;
                span {
                    display: block;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: -0.01em;
                    text-transform: uppercase;
                    color: #FBFAFA;
                    display: flex;
                    align-items: center;
                    margin: 5px 0;
                    cursor: pointer;
                }
            }
            a {
                display: block;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: -0.01em;
                text-transform: uppercase;
                color: #FBFAFA;
                display: flex;
                align-items: center;
                img {
                    margin-left: 4px;
                }
            }
            ::-webkit-scrollbar {
                width: 3px;               /* ширина scrollbar */
            }
            ::-webkit-scrollbar-track {
                background: transparent;        /* цвет дорожки */
            }
            ::-webkit-scrollbar-thumb {
                background-color: rgb(41, 41, 41);    /* цвет плашки */
                border-radius: 20px;       /* закругления плашки */
            
            }
        }
    }
    .blog-row-item {
        width: 100%;
        max-width: 540px;
        height: calc(100vh - 235px);
        position: relative;
    
        .img {
            width: 100%;
            position: absolute;
            border-radius: 15px;
            overflow: hidden;
            z-index: -1;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            
                background: linear-gradient(180deg, rgba(8, 8, 8, 0) -72.64%, #080808 100%);
                border: 1px solid #343434;
                box-sizing: border-box;
                border-radius: 15px;
                overflow: hidden;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text {
            width: 100%;
            margin: 30px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
           
            span {
                display: block;
                margin-bottom: 15px;
                padding: 0;
                position: relative;
            }
            p {
                margin-bottom: 15px;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: -0.01em;
                
                color: #B4B4B4;
            }
            .date {
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;

                letter-spacing: -0.01em;

                color: #FBFAFA;
            }
        }
    }
}
.blog-slider-preview-items {
    width: calc(100% - 570px);
    max-height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 30px;
    position: relative;
    .swiper-container-blog-vertical {
        width: 100%;
        max-height: calc(100vh - 150px) !important;
        min-height: calc(100vh - 150px) !important;
        overflow: visible;
        position: relative;
        padding-bottom: 150px;
        margin-bottom: 25px;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: 2;
            background: linear-gradient(transparent 85%, #000 90%);
            pointer-events: none;
        
        }
        
        .swiper-wrapper {
            padding-bottom: 50px;
            .swiper-slide {
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                
           
    
            }
        }
    }

    .btn {
        position: absolute;
        bottom: 45px;
        width: 100%;
    }

}
.blog-slider-preview-items-item{
    width: 100%;
    max-width: 255px;
    max-height: 500px ;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    .img {
        width: 100%;
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        min-height: 180px;
        max-height: 180px;
        z-index: -1;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        
            background: linear-gradient(180deg, rgba(8, 8, 8, 0) -72.64%, #080808 100%);
            border: 1px solid #343434;
            box-sizing: border-box;
            border-radius: 15px;
            overflow: hidden;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .date {
            position: absolute;
            left: 15px;
            bottom: 15px;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;

            letter-spacing: -0.01em;

            color: #FBFAFA;
        }
    }
    span {
        display: block;
        width: 100%;
        margin-top: 15px;
        font-weight: 800;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.01em;
        text-transform: uppercase; 
        color: #FBFAFA;
    }
}
.block-mobiles {
    display: none;
}


.footer {
    min-height: 236px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    &.fot-non-blog {
        display: none;
    }
    .container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        a, .add {
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.03em;

            color: #B4B4B4;
        }
    }
}

.swiper-container-vertical>.swiper-scrollbar {
    width: 0 !important;
}

.modal-form-quiz {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    &.active {
        opacity: 1;
        pointer-events: visible;
        .modal-form-quiz-content {
            transform: scale(1);
        }
    }
    &-bg {
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 999;
        position: absolute;
        left: 0;
        top: 0;
        background: #080809;
        opacity: 0.5;
    }
    &-content {
        width: 100%;
        max-width: 624px;
        padding: 40px;
        position: relative;
        z-index: 1001;
        background: #080809;
        border: 1px solid #343434;
        box-sizing: border-box;
        border-radius: 15px;
        transform: scale(0);
        transition: 0.3s;
        .items {
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            &.active {
                display: flex;
            }
            &-title {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                
                margin-bottom: 50px;
                span {
                    display: block;
                    font-weight: 900;
                    font-size: 25px;
                    line-height: 30px;
                    letter-spacing: -0.01em;
                    text-transform: uppercase;

                    color: #FBFAFA;
                }
              
                a {
                    margin-top: 5px;
                    cursor: pointer;
                }
            }
            .type-row {
                width: 100%;
                display: flex;
                align-items: center;
                &-check {
                    position: relative;
                    width: auto;
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                    }
                    input {
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 2;
                        cursor: pointer;
                    }
                    input:checked ~ .type-row-check-text {
                        border: 1px solid #FBFAFA;
                    } 
                    &-text {
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 0.005em;
                        text-transform: uppercase;
                        color: #FBFAFA;
                        padding: 13px 20px;
                        border: 1px solid #343434;
                        border-radius: 69.6864px;
                        cursor: pointer;
                    }
                }
            }
            .type-textarea {
                width: 100%;
                border-bottom: 1px solid #343434;
                padding: 10px 10px 20px 10px;
                textarea {
                    width: 100%;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.005em;
                    color: #FBFAFA;
                    background: transparent;
                    border: none;
                    outline: none;
                    resize: none;
                }
            }
            .type-input-row {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .type-input {
                width: 100%;
                border-bottom: 1px solid #343434;
                padding: 10px;
                margin: 0 7px;
                &:last-child {
                    margin-right: 0;
                }
                input {
                    width: 100%;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.005em;
                    color: #B4B4B4;
                    border: none;
                    background: transparent;

                }
            }
            .bt-row {
    
                display: flex;
                align-items: center;
                .btn {
                    margin-right: 10px;
                    &.btn-black {
                        color: #fff;
                        background: #080809;
                        border: none;
                        &::after {
                            opacity: 0;
                        }
                    }
                }
            }
            .row-all-btn {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 50px;
            }
            .text-error {
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;

                text-align: right;
                letter-spacing: 0.005em;
                text-transform: uppercase;
                display: none;
                color: #FF4141;
                &.active {
                    display: block;
                }
            }
            .btn {
               
                font-size: 12px;
                line-height: 15px;
                padding: 13px 20px;
                &.btn-return-js {
                    margin-top: 0;
                }
            }
        }
     
    }
}

@keyframes wrap {
    0% {
        transform: translateX(-0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes rotats {
    0% {
        transform: rotate(0);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

@media (max-width: 1500px) {
    .marquee__content {
        width: 650%;
    }
}
@media (max-width: 1150px) {
    .container, .container-header {
        padding: 0 30px;
    }
    .blog-slider-preview-items-item {
        margin: 0 10px;
        max-height: 450px;
        .img {
            min-height: 150px;
            max-height: 150px;
        }
        span {
            font-size: 12px;
        }
    }
}
@media (max-width: 980px) {
    .modal-form-quiz {
        padding: 15px;
        &-content {
            padding: 30px 20px;
            .items {
                &-title {
                    margin-bottom: 40px;
                    span {
                        width: 90%;
                        font-size: 20px;
                        line-height: 24px;
                      
                    }
                }
                .type-row {
                    flex-wrap: wrap;
                    &-check {
                        margin-bottom: 15px;

                    }
                }
                .btn {

                }
            }
        }
    }

    .removed-btn {
        .container-header {
            .content {
                display: flex;
                justify-content: space-between !important;
                .left {
                    
                    .btn {
                        
                        display: none !important;
                    }
                }
                .lang-drop {
                    display: flex;
                }
            }
            .logo {
                margin-top: 10px;
            }
          
        }
    }
    .cursor-bg {
        opacity: 0 !important;
    }
    .container-header {

        padding: 0 15px;
    }
    .container {

        padding: 0 15px;
    }
    .btn {
        padding: 11px 17px;
        font-size: 13px;
        line-height: 16px;
        img {
            margin-right: 5px;
            width: 20px;
    
        }
    }
    .btn-menu {
     
        margin-left: 30px !important;
        padding: 10px 22px !important;
    }


    .header {
        padding: 30px 0;
        margin-top: 0px;
        z-index: 1000;
        &.not-hid {
            .lang-drop {
                display: flex !important;
            }
        }
        &.active {
            padding: 20px 0;
        }
        .container-header {
           
            .content {
                max-width: 100%;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            .logo {
                width: 80px;
                img {
                    width: 100%;
                }
            }
            .btn {
                padding: 11px 15px;
            }
        }
    }

    .section {
        margin-top: 0px;
        padding-top: 70px;
        .img-pic {
            max-width: 403px;
            min-height: 403px;
            right: -40%;
            top: -25%;
           
           
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .section-block {
        span {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 20px;
        }
        p {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 40px;
            img {
                width: 23px;
                height: 25px;
            }
        }
        .btn {
            margin-bottom: 70px;
        }
    }
    .section-row-item {
        justify-content: space-between;
        &.ml50 {
            margin-left: 0;

        }
        .item {
        
            margin-right: 0;
            margin-bottom: 45px;
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
            span {
                margin-right: 10px;
                font-size: 23px;
                line-height: 28px;
            }
            p {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }

    .application {
        margin: 50px 0;
        margin-bottom: 0;
    }
    .application-block-img {
        position: relative;
        .img {
           z-index: -1;
           position: absolute;
           margin-left: 0;
           right: -60%;
           width: 90%;
           margin-top: -100px;
           img {
               width: 100%;
               
           }
        }
        .text-row {
            margin-left: 0;
            margin-bottom: 0;
            &-item {
                margin-bottom: 80px;
                margin-left: 0 !important;
                span {
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 13px;
                }
                p {
                    font-size: 13px;
                    line-height: 16px;
                    img {
                        width: 27px;
                    }
                }
            }
        }
    }

    .portfolio {
        padding: 50px 0;
    }
    .portfolio-text {
        font-size: 20px;
        line-height: 24px;
        margin-top: 0;
    }
    .portfolio-slider {
        margin-top: 70px;
        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    max-width: unset !important;
                    min-width: unset !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .item {
            min-width: 300px;
            max-width: 300px;
            min-height: 200px;
            margin-right: 0;
            max-height: 200px;
        }
    }

    .marquee__content {
        width: 1400%;
        display: flex;
    }
    
    .list-inline {

        li {
            width: 100%;
            height: 100%;
            min-width: 300px;
            max-width: 300px;
            min-height: 200px;
          
            max-height: 200px;
            margin: 0 8px;
            a {
                width: 100%;
               
                height: 100%;
                border-radius:8px;
              
                background: #FFFFFF;

            }
        }
    }

    .gambling {
        padding: 50px 0;
        min-height: auto;
        overflow: hidden;
        .img-pic {
            right: -30%;
            top: -10%;
            
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .gambling-title {
        margin-bottom: 0px;
        flex-wrap: wrap;
        a {
            margin-right: 25px;
            margin-bottom: 20px;

            img {
                width: 120px;
                &:first-child {
                    width: 22px;
                }
            }
        }
        &-link {
            margin-top: 10px;
            margin-bottom: 20px;
           
            span, a, .swiper-pagination-bullet {
                width: unset !important;
                font-size: 12px;
                line-height: 16px;
                margin-right: 20px;
                
                &:last-child {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .gambling-subtitle {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 35px;
    }
    .gambling-price {
        margin-bottom: 50px;
        &-item {
            width: 50%;
            max-width: 50%;
            padding: 20px 0;
            &:last-child {
                margin-right: 0 !important; 
            }
            span {
                font-size: 23px;
                line-height: 28px;
                margin-bottom: 11px;
                small {
                    font-size: 12px;
                    line-height: 15px;
                    margin-right: 3px;
                }
            }
            p {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
    .gambling-list {
        ul {
            justify-content: space-between;
            align-items: stretch;
            li {
                width: 47%;
                font-size: 12px;
                line-height: 16px;
                margin-bottom: 20px;
                letter-spacing: 0;
                img {
                    width: 20px;
                }
            }
        }
    }

    .blockchain {
        padding: 50px 0;
        overflow: hidden;
        min-height: auto;
        &::before {
            right: -15%;
        }
    }
    .blockchain-title {
        margin-bottom: 0px;
        flex-wrap: wrap;
        a {
            margin-right: 25px;
            margin-bottom: 20px;

            img {
                width: 150px;
                &:first-child {
                    width: 22px;
                }
            }
        }
        &-link {
            margin-top: -10px;
            margin-bottom: 20px;
           
            span, .swiper-pagination-bullet {
                width: unset !important;
                font-size: 13px;
                line-height: 16px;
                margin-right: 20px;
            }
        }
    }
    .blockchain-img {
        margin-left: 0;
        position: absolute;
        right: -40%;
        width: 100%;
        max-width: 220px;
        max-height: 220px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .blockchain-content {
        margin-left: 0;
        min-height: 100%;
    }
    .blockchain-list {
        ul {
            align-items: stretch;
            li {
                width: 50%;
                font-size: 13px;
                line-height: 16px;
                margin-bottom: 20px;
                letter-spacing: 0;
                img {
                    width: 20px;
                }
            }
        }
    }

    .blog {
        padding: 50px 0;
        overflow: hidden;
    }
    .blog-title {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 24px;
        img {
            width: 20px;
        }
    }
    .blog-row {
        flex-wrap: wrap;
        &-item {
            margin-bottom: 20px;
            max-width: 100%;
          
            .img {

            }
            span {
                padding: 20px;
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

    .faq {
        padding: 50px 0;
        overflow: hidden;
    }
    .faq-block {
        &-row {
            margin-bottom: 30px;
            &-title {
                margin-bottom: 20px;
                span {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
            &-content {
                font-size: 13px;
                line-height: 16px;
                p {
                    font-size: 13px;
                    line-height: 16px;
                }

            }
        }
    }

    .blog-post {
        min-height: 100%;
        padding-top: 150px;
    }
    .blog-post-preview {
        min-height: 350px;
        .text {
            width: 100%;
            padding: 15px;
            span {
                font-size: 20px;
                line-height: 140%;
            }
            p {
                font-size: 13px;
                line-height: 140%;
            }
            .date {
                font-size: 10px;
            }
        }
    }
    .blog-post-content {
        p {
            font-size: 15px;
            line-height: 150%;
        }
        a {
            font-size: 15px;
            line-height: 150%;
        }
        .pborder {
            padding: 15px 20px;
        }
        .checks {
            margin-bottom: 15px;
            &-title {
                font-size: 15px;
                line-height: 150%;
                
            }
            &-content {
                padding: 10px 0 10px 25px;
            }
        }
        ul {
            li {
                font-size: 15px;
                line-height: 160%;
                margin-bottom: 10px;
                &::before {
                    top: 7px;
                }
            }
        }
    }

    .section404 {
        overflow: hidden;
        &::before {
            width: 200%;
            height: 200%;
            right: -75%;
            top: -50%;
            z-index: -1;
            background-size: 100% 100%;
        }
        .container {

            align-items: center;
            text-align: center;
            p {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    .section-blog-slider {

        min-height: 100%;
        max-height: unset;
        padding-top: 110px;
        overflow: unset;
        .container-header {
            flex-direction: column;
        }
    }
    .blog-slider-preview {
        display: flex;
        min-width: 100%;
        max-width: 100%;

        .row-item-tabs {
            margin-bottom: 20px;
            
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .items {
                width: 80%;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 15px;
                a {
                    margin-right: 15px;
                    margin-bottom: 15px;
                  
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 15px;
    
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.005em;
                    text-transform: uppercase; 
                    color: #B4B4B4;
                    &.active {
                        color: #FBFAFA;
                    }
                }
            }
            .lang-drop {
                display: none;

            }
        }
        .blog-row-item {
            position: relative;
            max-width: 100%;
            height: auto;
            min-height: 350px;
            max-height: 350px;
            .img {

            }
            .text {
                margin: 15px;
                p {
                    font-size: 12px;
                    line-height: 15px;
                }
                .date {
                    font-size: 11px;
                    line-height: 13px;
                }
            }
        }
    }
    .blog-slider-preview-items {
        width: 100% !important;
        max-height: 100% !important;
        margin-left: 0;
        overflow: hidden !important;
        .swiper-container-blog-vertical {
            max-height: 250px !important;
            display: none !important;
            overflow: visible;
            .swiper-wrapper {
                .swiper-slide {
                    
                }
            }
        }
        .btn {
            position: relative;
            bottom: unset;
            margin: 0 !important;
        }
    }
    .block-mobiles {
        display: flex !important;
        flex-direction: column;
        margin-top: 30px;
    }
    .blog-slider-preview-items-item{
        max-width: 100%;
        margin: 0;
        margin-bottom: 50px;
        
        span {
            font-size: 18px;
            line-height: 22px;
        }
        .img {
            min-height: 150px;
            min-height: 150px;
        }
    }

    .footer {
        min-height: auto;
        margin: 30px 0;
        &.fot-non-blog {
            display: flex;
        }
        .container {
            flex-wrap: wrap;
            a {
                width: 50%;
                margin-bottom: 35px;
            }
            .add {
                margin-bottom: 35px;
                width: 100%;
            }
        }
    }
}